.buttonSection {
  position: relative;
  margin-top: 150px;
}

.container {
  height: 100%;
  width: 100%;
  margin: 20px;
}

.dashboardActionsContainer {
  width: 70%;
}

.dashboardContainer {
  border: 2px solid black;
  height: 100%;
  margin: 15px;
  width: 60%;
}

.dashboardContent {
  display: flex;
  height: 70vh;
  justify-content: space-between;
}

.divider {
  width: 2px;
  margin: 6px 0;
  background: black;
}

.greetingContainer {
  background-color: black;
  color: white;
  flex-flow: column;
  height: 100%;
  padding: 15px;
  width: 40%;
}

.headerContainer {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  text-align: center;
}

.homePageButtons {
  border: none;
  font-size: 16px;
  height: 45px;
  width: 150px;
  background-color: black;
  color: white;
}

.homePageButtons:hover {
  background: white;
  color: black;
  cursor: pointer;
  border: solid;
}

.noMargin {
  margin: 0
}

.signInButtonContainer {
  justify-content: center;
  margin: 150px;
  height: 10vh;
  text-align: center;
}

.signOutButtonContainer {
  display: flex;
  justify-content: center;
}
