.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 95vh;
}
.buttonSection {
  position: relative;
  margin-top: 150px;
}

.container {
  height: 100%;
  width: 100%;
  margin: 50px;
}

.dashboardContainer {
  border: 2px solid black;
  display: inline-block;
  height: 100%;
  margin: 15px;
  width: 60%;
}

.divider {
  width: 2px;
  margin: 6px 0;
  background: black;
}

.greetingContainer {
  background-color: black;
  color: white;
  height: 100%;
  padding: 15px;
  width: 40%
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 200px;
  text-align: center;
}


.homePageButtons {
  border: none;
  font-size: 16px;
  height: 45px;
  width: 150px;
  background-color: black;
  color: white;
}

.homePageButtons:hover {
  background: white;
  color: black;
  cursor: pointer;
  border: solid;
}

.signInButtonContainer {
  justify-content: center;
  margin: 150px;
  height: 10vh;
  text-align: center;
}

.signOutButtonContainer {
  display: flex;
  justify-content: center;
}

.welcomeBanner {
  display: inline-block;
}
