.secret {
  font-size: xxx-large;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 5vh;
}

.secret p {
   padding: 0px;
   margin: 0px;
}

.secret div div{
   border: solid;
   width: 100%;
   margin: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

#upper, #lower {
   display: flex;
}

#upper {
   height: 20vh;
}

#lower {
   height: 70vh
}

#menu {
   width: 280vw;
}
#menu p {

   padding: 0px;
   margin: 0px;
   font-size: 5em
}

#start, #upload {
   color: white;
   border: solid black;
   background: black;
}

#start:hover, #upload:hover{
   background: #ffffff;
   color: black;
}


#start:active, #upload:active{
   background: #ffffff;
   color: crimson;
   border-color:crimson
}

#upload {
   width: 20vw;
}

#bigRec {
   padding: 0px;
}


#logo {
   font-size: 0.4em;
   margin-top: auto;
   margin-left: auto;
   margin-right: 1vh;
   width: min-content;
   white-space:nowrap

}

.secret .bars {
  height: 100%;
  border: none;
  justify-content: flex-start;
}

#questions {
   display: block;
   height: 100%;
   width: 100%;
   padding: 0px;
   margin:0px;
   border: none;
   overflow-y: scroll;
   font-size: medium;
}

#questions div{
flex: 1;
text-align: left;
text-overflow: ellipsis;
margin: 1px 0 1px 0;
box-sizing: border-box

}

.slide-in-animated {
 animation-name:slide-in;
 animation-duration: 0.2s;
}


@keyframes slide-in{
 from {
  width:0px;
 }

 to {
   width: 100%;
 }
}


.slide-out-animated {
 animation-name:slide-out;
 animation-duration: 0.2s;
}


@keyframes slide-out{
 from {
  width:100%;
 }

 to {
   width: 0px;
 }
}

#questions::-webkit-scrollbar {
   width: 0;  /* Remove scrollbar space */
   background: transparent;  /* Optional: just make scrollbar invisible */
}



.secret .bar{
   height: 100%;
   margin: 1px;
   flex-direction: column;
   justify-content: flex-start;
   background: white;
   color: black;
   width: 5vw;
}

.bar p {
   white-space: nowrap;
   transform:rotate(270deg);
   height: min-content;
   width: min-content;
   font-size: xx-large;
   pointer-events: none;
}

.bar .triangle {
   border-color:black transparent transparent transparent;
   border-width:1.5vw;
   width: 0;
   height: 0;
   padding: 0px;
   margin: 2vh 0 6vh 0;
   pointer-events: none;
}

.secret .selected {
   background: black;
   color: white;
   border-color: black;
   padding-top:10px
}

.selected .triangle {
   border-color: transparent transparent transparent white;
   transform: translate(1vh, -2vh);
   padding-top: 0px;

}