.container {
 height: 100%
}
.welcomeBanner {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 95vh;
}

.signInButtonContainer {
  justify-content: center;
  margin: 150px;
  height: 10vh;
  text-align: center;
}

.signOutButtonContainer {
  display: flex;
  justify-content: center;
}

.divider {
  width: 2px;
  margin: 6px 0;
  background: black;
}

.buttonSection {
  position: relative;
  margin-top: 150px;
}

.homePageButtons {
  border: none;
  font-size: 16px;
  height: 45px;
  width: 150px;
  background-color: black;
  color: white;
}

.homePageButtons:hover {
  background: white;
  color: black;
  cursor: pointer;
  border: solid;
}

